[mysqld]
# 1. 네트워크 및 포트 설정
port = 3306
bind-address = 0.0.0.0

# 2. 인코딩 설정 (한글 및 이모지 깨짐 방지)
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# 3. 데이터베이스 기본 설정 (한국 시간)
default-time-zone = '+09:00'

# 4. 최대 접속 인원 및 보안 설정
max_connections = 100
lower_case_table_names = 1

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4